.item {
  padding:5px;
  margin:5px;
  border: 1px solid #ccc;
  width: 170px;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  .content {
    font-size: 12px;
    h5 {
      margin: 0;
    }
  }
  img {
    height: 110px;
    width: 70px;
  }
  &:hover {
    transform: rotate(1deg)scale(1.03);
    opacity: 0.9;
  }
}